@import "base";
@import "../entregas/entrega1/entrega1";

.contenedor {
  text-align: center;

  h1 {
    margin-bottom: 2rem;
    color: $color-secundario;
  }

  .botones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
